h1
{
    color: blue;
}

.test
{
    color: green;
}

strong
{
    font-weight: bold;
    font-style: normal;
    color: black;
}

em
{
    font-weight: normal;
    font-style: normal;
    color: black;
}

